 <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #f15f79;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="images/3625167.png" alt="" width="35" height="34" class="d-inline-block align-text-top"> Pocket Notes</a>
      <button class="navbar-toggler" type="button" onclick="toggleThis()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="javascript:location.reload()">Home</a>
          </li>
           <li class="nav-item">
            <a class="nav-link active" aria-current="page"href="/logout">LogOut</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" id= "searchTxt" aria-label="Search">
          <button type="button" class="btn btn-outline-dark" id="searchBtn">Search</button>
        </form>
      </div>
    </div>
    </nav>